# Core functionality - changes here should be rare!
/src/app.py                   @kelvinkelly
/src/backend/database.py      @kelvinkelly
/src/backend/routers/auth.py  @kelvinkelly

# The frontend will need refactored soon to be more object oriented.
/src/static/   @kelvinkelly
